{{#each Barks}}
<div id="barkListContainer">
    
                    <div class="row" id="dogBarks">
                        <div class="col col-sm-2">
                            <img src="{{this.Dog.photo}}" id="dogMatchImg">
                        </div>
                        <div class="col col-sm-6">
                            <h2 id="dogBarkName">{{this.Dog.name}} </h2>
                            <hr>
                            <h3 id="dogBarkHuman">Last Message: {{this.message_content}} </h3>
                        </div>
                        <div class="col col-sm-4">
                            <a type="button" class="btn btn-success" id="barkBtnBarkPg" href="/barks/{{this.Dog.id}}">Bark</a>
                        </div>
                    
                </div>
                
            </div>
            {{/each}}