<div id="mainViewWindow">
                    <div class="container" id="profileFull">
                        <div class="row">
                            <div class="col col-sm-5" id="profileImgCol">
                                <div class="row">
                                    <div class="row" id="profileImgRow">
                                        <div class="row" id="profileName">
                                            <h2>Ida Bear</h2>      
                                        </div>
                                        <img id="profileImg" src="../../public/media/imgExample.jpg">
                                    </div>
                                    <div class="row" id="sniffGrowlRow">
                                        <div class="col col-sm-5">
                                                <button type="button" class="btn btn-primary" id="sniffBtn">Sniff</button>
                                        </div>
                                        <div class="col col-sm-1"></div>
                                        <div class="col col-sm-5">
                                                <button type="button" class="btn btn-danger" id="growlBtn">Bark</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-sm-1"></div>
                            <div class="col col-sm-6" id="profileInfoCol">
                                <div class="row" id="profileBasicInfoCont1">
                                    <div class="row" id="profileBasicInfoRow1">
                                        <h2>Basic Info</h2>
                                        <!-- <hr> -->
                                    </div> 
                                    <div class="row" id="profileBasicInfoRow2">
                                        
                                        <div class="col col-sm-5" id="profileBasicInfoCol1">
                                            <h4 id="breed">Breed: </h4>
                                            <h4 id="sex">Sex: </h4>
                                            <h4 id="size">Size: </h4>
                                            
                                        </div>
                                        <!-- <div class="col col-sm-1"></div> -->
                                        <div class="col col-sm-5" id="profileBasicInfoCol2">
                                            <h4 id="age">Age: </h4>
                                            <h4 id="fixed">Fixed: </h4>
                                            <h4 id="temperament">Temperament: </h4>
                                        </div>
                                    </div> 
                                    <div class="row" id="profileBasicInfoRow3">
                                        
                                    </div>
                                </div>
                                <div class="row" id="profileBasicInfoCont2">
                                    <div class="row" id="profileDescriptionHeader">
                                        <h2>Description</h2>
                                    </div>
                                    <div class="row" id="profileDescriptionBody">
                                        <p id="description">I am a playful, yet cautious dog.  I love pets, and cuddles to a limit.  Hate squirrels, they are satan-spawn.  I love playing with other dogs, particularly those around my size, and I am very submissive of those bigger than me.  I always need new friends.</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row">


                        </div>
                    </div>
                </div> 